* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    background: linear-gradient(180deg, rgba(88,0,0,1) 0%, rgba(181,0,27,1) 46%);
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: bisque;
}