* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    background: linear-gradient(180deg, rgb(39, 0, 0) 0%, rgb(255, 7, 44) 36%);
}

.poppins {
    font-family: 'Poppins', sans-serif;
}
